body{
    font-family: "Roboto", sans-serif;
    background-color: #222831;
    color: #FFEAD3;
    border: 0;
    padding:0;
}
.first_bar{
    background-color: #393E46;
    margin: 0;
    border: 5px;
    padding: 10px;
    border-radius: 13px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 0;
    margin-right: 5px;


}
.first_bar .top_name{

    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    
}
.first_bar .right_elements{
    display: flex;
    color: #EDEDCE;
    cursor:pointer;
    font-size:large;
    font-weight: 200;
    gap: 1.5rem;            /* space between each item */
    margin-right: 40px;
    align-items: center;
}
a {
    color: inherit;           /* use the surrounding text colour */
    text-decoration: none;    /* remove underline if you don’t want it */
    outline: none;            /* kill the default focus ring */
    box-shadow: none;         /* some browsers use shadow for focus */
}

a:visited {
    color: inherit;           /* don’t turn purple after click */
}

a:focus,
a:active {
    outline: none;            /* again, no focus/active outline */
    box-shadow: none;
}

.background{
    background-color: #526D82;
    border-color: #DDE6ED;
    border-radius: 20px;
    display: flex;
    font-size: 23px;
    flex-direction: column;
    margin: 50px;
    text-align: center;
    width: 420px;
    padding:10px;
    border: 4px solid #DDE6ED;
}
.background .b{
    text-decoration: underline;
    font-style: italic;
}
.Hobbies{
    background-color: #526D82;
    border-color: #DDE6ED;
    border-radius: 20px;
    display: flex;
    font-size: 23px;
    text-align: center;
    flex-direction: column;
    margin: 50px;
    width: 420px;
    padding:10px;
    border: 4px solid #DDE6ED;
}
.Hobbies .h{
    text-decoration: underline;
    font-style: italic;
}
.about_content{
    display: flex;
    justify-content: center;
}
.ncc{
    background-color: #526D82;
    border-color: #DDE6ED;
    border-radius: 20px;
    display: flex;
    font-size: 23px;
    flex-direction: column;
    margin: 20px auto;
    width: 760px;
    padding:10px;
    border: 4px solid #DDE6ED;
    text-align: center;
}
.background .Link1{
    text-decoration: underline;
    font-style: italic;
}